.services {
  padding-top: 5rem;
  padding-bottom: 2rem;
  position: relative;
  background-color: #ececec;
}

.services .containerr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1rem;
}
@media (max-width: 747px) {
  .services .containerr {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .services .containerr {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: 0.3s;
  position: relative;
}

.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: #2196f3;
  position: absolute;
  width: 0;
  transition: 0.3s;
}

.services .box:hover {
  transform: translateY(-10px);
}

.services .box:hover::before {
  width: 100%;
}

.services .box > i {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #d5d5d5;
}

.services .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: #2196f3;
}

.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}

.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: #2196f3;
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}

.services .box .info a {
  color: #2196f3;
}

/* End Services */
