* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary_color: #a7c4c8;
  --secondary_color: #b2c7db;
  --thirdly_color: #e3f2c1;
  --surface_color: #f6ffde;
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --main_sizze: 18px;
  --less-dark-blue: #135d66;
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--primary_color),
    var(--secondary_color)
  );
  /* height: 100vh; */
  color: var(--surface_color);
  /* font-family: "Trirong", sans-serif; */
}

main {
  margin: 3.5rem auto;
  padding: 2rem;
  width: 40%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(1px);
  position: relative;
}

form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  display: block;
  border: 1px solid #cccccc;
  border: none;
  outline: 0;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding: 1rem;
}

button {
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 80%;
  background-color: var(--less-dark-blue);
  color: var(--surface_color);
  cursor: pointer;
}

.connect_us {
  margin: 0 auto;
}

.icon_row {
  display: flex;
  justify-content: space-evenly;
  /* align-items: ; */
}

h6:last-child {
  position: relative;
}

h6::after {
  background-color: var(--surface_color);
  position: absolute;
  width: 80px;
  height: 2px;
  content: "";
  right: 1px;
}

h6::before {
  background-color: var(--surface_color);
  position: absolute;
  width: 80px;
  height: 2px;
  content: "";
  left: 1px;
}

a {
  text-decoration: none;
  color: var(--primary_color);
}

footer {
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
}
footer span a {
  color: #304645;
}
@media (max-width: 768px) {
  main {
    width: 80%;
  }
}
